.container {
    max-width: 1800px;
    margin: 0 auto;
}

body {
    font-family: "poppins";
   
}

header  {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0 ,0 ,0.3)),
    url("../images/rome.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 160px 0px;
    color: white;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
        margin: 30px 0;
}

header h2 {
    font-weight: 400;
        font-size: 40px;
        line-height: 1.5;
            margin: 0;
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px ;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/rome-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

footer h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
        
}

footer p {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
   
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    padding: 10px;
}

footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul {
  
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}

section {
    max-width: 1800px;
    margin: 0 auto;
   
}

.grid {
display: grid;
grid-template-columns: 1fr 2fr 2fr;

margin: 20px 90px;

}

@media (max-width: 960px) {
    header {
padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }
}



